* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "glitch";
    src: url("../font/glitch.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hacked";
    src: url("../font/hacked.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("../imagens/fundo3.jpg");
    background-size: cover;
    display: inline-block;
    justify-items: center;
    justify-content: center;
}



#titulo {
    font-family: glitch;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 38pt;
    text-align: center;
    margin-top: 15px;
}

#principal {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}   


.txtMain {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

#data {
    margin: 10px;
    width: 180px;
    height: 30px;
    background-color: rgb(255, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;    
}

#picDay {
    width: 600px;
    height: auto;
    border-radius: 30px;
    border-color: 5px white solid;
    margin-top: 30px;
    cursor: pointer;
}


#info {
    margin-top: 35px;
    display: flex;  
    justify-content: space-evenly;
}

#resumo {
    width: 40%;
    padding-top: 40px;
    
}

#textoResumo {
    text-align: right;
    font-size: 14pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.2em 0.2em 0.3em black;

}

#videoDay {
    border-radius: 15px;
}

header {
    margin-bottom: 0;
}

#logoNasa {
    width: 150px;    
}

#pesquisar {
    font-size: x-large;
    font-family: hacked;
    color: white;
    background: none;
    border: 2px white solid;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#titleResumo {
    color: white;
    font-size: 28pt;
    font-family: hacked;
    letter-spacing: 2px;
    text-align: right;
    margin-bottom: 10px;
    text-shadow: 0.2em 0.2em 0.3em black;
}

@media (max-width: 700px) {
    #picDay {
        width: 70vw;
    }

    #info {
        flex-wrap: wrap;
    }

    #titleResumo {
        text-align: center;
    }


    #resumo {
        width: 60vw;
        margin-top: 20px;
    }

    #textoResumo {
        text-align: justify;        
    }


}